// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 Fuzhou Rockchip Electronics Co., Ltd.
 */

/dts-v1/;
#include "rv1126.dtsi"
#include "rv1126-pulseview.dtsi"

/ {
	model = "IntelliSails PulseView Board";
	compatible = "rockchip,rv1126-pulseview-v1", "rockchip,rv1126";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff570000 console=ttyFIQ0 root=PARTUUID=614e0000-0000 rootwait snd_aloop.index=7";
	};

	vcc_2v8: vcc-2v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_2v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
	};

	cam_ircut0: cam_ircut {
		status = "okay";
		compatible = "rockchip,ircut";
		led-gpios  = <&gpio0 RK_PA2 GPIO_ACTIVE_HIGH>;
		ircut-open-gpios = <&gpio0 RK_PB6 GPIO_ACTIVE_HIGH>;
		ircut-close-gpios  = <&gpio0 RK_PB7 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "front";
	};

	i2s1_sound: i2s1-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rockchip,i2s1-sound";
		// simple-audio-card,widgets =
		// 	"Microphone", "Mic Jack",
		// 	"Speaker", "Speaker Jack";
		// simple-audio-card,routing =
		// 	"Speaker Jack", "HPOL",
		// 	"Speaker Jack", "HPOR";
		simple-audio-card,cpu {
			sound-dai = <&i2s1_2ch>;
		};
		simple-audio-card,codec {
			sound-dai = <&es8311>;
		};
	};
};

&csi_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam0: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&ucam_out0>;
				data-lanes = <1 2 3 4>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi_csi2_input>;
			};
		};
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;

	imx415: imx415@1a {
		compatible = "sony,imx415";
		reg = <0x1a>;
		clocks = <&cru CLK_MIPICSI_OUT>;
		clock-names = "xvclk";
		power-domains = <&power RV1126_PD_VI>;
		pinctrl-names = "rockchip,camera_default";
		pinctrl-0 = <&mipicsi_clk0>;
		avdd-supply = <&vcc_2v8>;
		dovdd-supply = <&vcc_1v8>;
		dvdd-supply = <&vcc_dvdd>;
		reset-gpios = <&gpio1 RK_PD0 GPIO_ACTIVE_LOW>;
		// power-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "PV1";
		rockchip,camera-module-lens-name = "8M";
		// imx415_PV1_8M.xml
		// imx415_PV1_8M-hdr3.xml
		// NO_HDR:0 HDR_X2:5 HDR_X3:6
		rockchip,camera-hdr-mode = <6>;
		ir-cut = <&cam_ircut0>;
		port {
			ucam_out0: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&i2s1_2ch {
	status = "okay";
	// rockchip,clk-trcm = <1>;
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s1m2_sclk
		     &i2s1m2_lrck
		     &i2s1m2_sdi
		     &i2s1m2_sdo>;
};

&i2c2 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-0 = <&i2c2_xfer>;

	es8311: es8311@18 {
		compatible = "everest,es8311";
		reg = <0x18>;
		clocks = <&cru MCLK_I2S1_OUT2IO>;
		clock-names = "mclk";
		adc-volume = <0xbf>;  /* 0dB */
		dac-volume = <0xbf>;  /* 0dB */
		aec-mode = "dac left, adc right";
		pinctrl-names = "default";
		pinctrl-0 = <&i2s1m2_mclk>; // &spk_ctl
		assigned-clocks = <&cru MCLK_I2S1_OUT2IO>;
		assigned-clock-parents = <&cru MCLK_I2S1>;
		// assigned-clock-rates = <12288000>;
		// spk-ctl-gpios = <&gpio2 RK_PA5 GPIO_ACTIVE_HIGH>;
		#sound-dai-cells = <0>;
	};
};

&display_subsystem {
	status = "okay";
};

&isp_reserved {
	size = <0x0AC00000>; // x0AC00000
};

&mipi_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy0_out>;
				data-lanes = <1 2 3 4>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mmu {
	status = "disabled";
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		cif_mipi_in: endpoint {
			remote-endpoint = <&mipi_csi2_output>;
			data-lanes = <1 2 3 4>;
		};
	};
};

&rkcif_mipi_lvds_sditf {
	status = "okay";

	port {
		mipi_lvds_sditf: endpoint {
			remote-endpoint = <&isp_in>;
			data-lanes = <1 2 3 4>;
		};
	};
};

&rkisp {
	status = "okay";
};

&rkisp_vir0 {
	status = "okay";

	ports {
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			isp_in: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi_lvds_sditf>;
			};
		};
	};
};

&rkispp {
	status = "okay";
};

&rkispp_vir0 {
	status = "okay";
};

&rkispp_mmu {
	status = "okay";
};

&pinctrl {
	es8311 {
		// spk_ctl: spk-ctl {
		// 	rockchip,pins = <2 RK_PA5 0 &pcfg_pull_none>;
		// };
	};
};